---
export interface Props {
	href: string
	title: string;
	time: string;
	tags: string[];
}

const { href, title, time, tags } = Astro.props;
---

<div
	class="rounded-2xl bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1 shadow-xl"
>
	<a class="block rounded-xl bg-white p-4 sm:p-6 lg:p-8" href={href}>
		<div class="mt-16">
			<h3 class="text-lg font-bold text-gray-900 sm:text-xl">
				{time}
			</h3>

			<p class="mt-2 text-sm text-gray-500">
				{title}
			</p>
		</div>
		<div>
			{tags}
		</div>
	</a>
</div>
